html,body{
  background: 
    linear-gradient(#ffffff70 , #ffffffd2) ,
    url("../img/lpg-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
 
h2 {
  color: #fff;
}
 
.login {
  position: absolute; left: 50% ; top: 50%;
  width: 320px; height: 380px; border: 1px solid #49c7f8;
  margin-left: -160px ; margin-top: -190px;
  padding: 1em;
  background: #defadd;
  border-radius: 3px;
}

.login > #loginimg { width: 70px; height: 90px; margin: auto;}
.login > #loginimg > img { width: 100%; height: 100%; }

form > div {
  background-color: #c3d66f; color: #374400;
  padding: 5px 20px;
}
 
label {
  font-size: 10pt;
  color: #555;
}
 
input[type="text"],
input[type="password"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
  margin: 20px 0px;
}